<div class="container">
    <h1>Welcome to CarGuru</h1> 
   <h1> Your Ultimate Destination for Car Enthusiasts!</h1>
    <p>Explore automotive excellence, effortlessly sell or find your dream car, and join our vibrant community of enthusiasts. Let's embark on an unforgettable ride through the world of automobiles. Start exploring now!</p>
    <a *ngIf="!isLogged()" routerLink="/register">SIGNUP TO GET STARTED!</a>
    <button class="btn btn-danger" type="button" *ngIf="isLogged()" routerLink="/shop">AVAILABLE CARS FOR SALE!</button>
  </div>